@font-face {
    font-family: Komikax;
    src: url(deps/KOMIKAX_.ttf);
}

*{
    font-family: komikax, serif;
}

.center-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-loading-img{
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#page{
    margin: auto;
    text-align: center;
}

#quiz > button{
    margin: 10px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

#quiz > button:hover{
    background-color: #cf0099;
    color: #46add3;
    cursor: pointer;
}

